/* --- Variables --- */
$azulPrincipal: #4361ee;
$azulSecundario: #233fbb;
$blanco: #f8f9fa;
$negro: #212529;

.caracteristicas {

  .contenedor {

    color: $negro;

    h2{
        font-weight: normal;
        margin-bottom: 2rem;
    }

    .multiplataforma,
    .interfaz,
    .registros,
    .seguro {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
      margin-bottom: 5rem;

      .img,
      .texto {
        width: 100%;
      }

      .img img {
        text-align: center;
        width: 100%;
      }

      .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            line-height: 2;
        }
      }
    }
  }
}
