/* --- Variables --- */
$azulPrincipal: #4361ee;
$azulSecundario: #233fbb;
$blanco: #f8f9fa;
$negro: #212529;

.clientes{
    background-color: $azulPrincipal;
    .contenedor{
        text-align: center;
        color: $blanco;

        h2{
            margin-bottom: 2rem;
        }

        p{
         margin-bottom: 1rem;   
        }

        .contenedor-clientes{
            width: 100%;
            display: flex;
            justify-content: space-between;
            // justify-content: center;
            padding: 4rem 1.5rem;

            .cliente{
                width: 19rem;
                background-color: $blanco;
                padding: 2rem 5rem;
                display: flex;
                align-items: center;
                border-radius: 1rem;
                transition: 0.3s;

                img{
                    width: 100%;
                    transition: 0.3s;
                }
            }

            .cliente:hover{
                transform: scale(1.1);
                border-radius: 1rem;
                -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);

                img{
                    transform: scale(1.2);
                }
            }
        }
    }
}