/* --- Variables --- */
$azulPrincipal: #4361ee;
$azulSecundario: #233fbb;
$blanco: #f8f9fa;

.footer {
  width: 100%;
  background-color: $azulPrincipal;
  background-image: url(../img/footer.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 10rem 0;

  .contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;

    h3 {
      margin-bottom: 2rem;
      color: $blanco;
    }
    ul {
      li {
        margin-bottom: 0.5rem;
        a {
          color: $blanco;
          font-size: 1.5rem;
          transition: 0.3s;
        }

        a:hover {
          opacity: 0.8;
        }
      }
    }

    .logo {
      img {
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.3rem;
        color: $blanco;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }
    }

    .siguenos {
      .siguenos-contenedor {
        display: flex;
        gap: 1rem;

        a{
          color: $blanco;
          font-size: 3.5rem;
          transition: 0.3s;
        }
        a:hover{
          transform: translateY(-0.2rem);
        }
      }
    }
  }
}
