.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $azulPrincipal;
  background-image: url(../img/header-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  .navbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 0;
    z-index: 10;

    .contenedor-navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 4rem;
      background-color: rgba($color: $blanco, $alpha: 0.3);
      border-radius: 1rem;

      .logo,
      .menu a {
        color: $blanco;
      }

      .logo span {
        font-size: 4rem;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
      }

      .menu {
        display: flex;
        align-items: center;
        a {
          margin-right: 3rem;
          font-weight: 500;
          transition: 0.3s;
        }
        a:last-child {
          margin-right: none;
        }

        a:hover {
          opacity: 0.8;
        }

        .login {
          font-size: 2.5rem;
        }
      }
    }
  } //Fin del navbar

  .hero {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8rem;
    .contenedor {
      display: flex;
      .texto {
        width: 50%;

        h1,
        p {
          color: $blanco;
          margin-bottom: 2rem;

          span {
            font-weight: 600;
          }
        }
      }
      .img {
        width: 50%;
        img {
          width: 80%;
        }
      }
    }
  }
}
