/* --- Variables --- */
$azulPrincipal: #4361ee;
$azulSecundario: #233fbb;
$blanco: #f8f9fa;
$negro : #212529;

.que-es{
    padding: 10rem 0;
    .contenedor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        .texto, .mockup{
            width: 100%;
        }

        .texto{
            color: $negro;
            h2{
                margin-bottom: 2rem;
            }
            p{
                line-height: 1.6;
                margin-bottom: 1rem;
            }
        }

        .mockup img{
            width: 100%;
            display: flex;
        }
    }
}