/* --- Variables --- */
/* --- Globales --- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /*1 rem = 10 px*/
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*,
*:before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* --- Utilidades --- */
a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

.titulo {
  text-align: center;
  color: #212529;
  margin-bottom: 5rem;
}

.contenedor,
.contenedor-navbar {
  max-width: 120rem;
  margin: 0 auto;
}

section {
  padding: 10rem 0;
}

.contenedor {
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 1rem;
  background-color: #f8f9fa;
  color: #4361ee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.alinear-derecha {
  text-align: right;
}

.alinear-izquierda {
  text-align: left;
}

/* --- Secciones --- */
/* --- Variables --- */
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #4361ee;
  background-image: url(../img/header-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 0;
  z-index: 10;
}

.header .navbar .contenedor-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 4rem;
  background-color: rgba(248, 249, 250, 0.4);
  border-radius: 1rem;
}

.header .navbar .contenedor-navbar .menu a {
  color: #f8f9fa;
}

.header .navbar .contenedor-navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .contenedor-navbar .menu a {
  margin-right: 3rem;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navbar .contenedor-navbar .menu a:last-child {
  margin-right: none;
}

.header .navbar .contenedor-navbar .menu a:hover {
  opacity: 0.8;
}

.header .navbar .contenedor-navbar .menu .login {
  font-size: 2.5rem;
}

.header .hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
}

.header .hero .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .hero .contenedor .texto {
  width: 50%;
}

.header .hero .contenedor .texto h1,
.header .hero .contenedor .texto p {
  color: #f8f9fa;
  margin-bottom: 2rem;
}

.header .hero .contenedor .texto h1 span,
.header .hero .contenedor .texto p span {
  font-weight: 600;
}

.header .hero .contenedor .img {
  width: 50%;
}

.header .hero .contenedor .img img {
  width: 80%;
}

/* --- Variables --- */
.que-es {
  padding: 10rem 0;
}

.que-es .contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.que-es .contenedor .texto, .que-es .contenedor .mockup {
  width: 100%;
}

.que-es .contenedor .texto {
  color: #212529;
}

.que-es .contenedor .texto h2 {
  margin-bottom: 2rem;
}

.que-es .contenedor .texto p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.que-es .contenedor .mockup img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* --- Variables --- */
.caracteristicas .contenedor {
  color: #212529;
}

.caracteristicas .contenedor h2 {
  font-weight: normal;
  margin-bottom: 2rem;
}

.caracteristicas .contenedor .multiplataforma,
.caracteristicas .contenedor .interfaz,
.caracteristicas .contenedor .registros,
.caracteristicas .contenedor .seguro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-bottom: 5rem;
}

.caracteristicas .contenedor .multiplataforma .img,
.caracteristicas .contenedor .multiplataforma .texto,
.caracteristicas .contenedor .interfaz .img,
.caracteristicas .contenedor .interfaz .texto,
.caracteristicas .contenedor .registros .img,
.caracteristicas .contenedor .registros .texto,
.caracteristicas .contenedor .seguro .img,
.caracteristicas .contenedor .seguro .texto {
  width: 100%;
}

.caracteristicas .contenedor .multiplataforma .img img,
.caracteristicas .contenedor .interfaz .img img,
.caracteristicas .contenedor .registros .img img,
.caracteristicas .contenedor .seguro .img img {
  text-align: center;
  width: 100%;
}

.caracteristicas .contenedor .multiplataforma .texto,
.caracteristicas .contenedor .interfaz .texto,
.caracteristicas .contenedor .registros .texto,
.caracteristicas .contenedor .seguro .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.caracteristicas .contenedor .multiplataforma .texto p,
.caracteristicas .contenedor .interfaz .texto p,
.caracteristicas .contenedor .registros .texto p,
.caracteristicas .contenedor .seguro .texto p {
  line-height: 2;
}

/* --- Variables --- */
.footer {
  width: 100%;
  background-color: #4361ee;
  background-image: url(../img/footer.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 10rem 0;
}

.footer .contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.footer .contenedor h3 {
  margin-bottom: 2rem;
  color: #f8f9fa;
}

.footer .contenedor ul li {
  margin-bottom: 0.5rem;
}

.footer .contenedor ul li a {
  color: #f8f9fa;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .contenedor ul li a:hover {
  opacity: 0.8;
}

.footer .contenedor .logo img {
  margin-bottom: 2rem;
}

.footer .contenedor .logo p {
  font-size: 1.3rem;
  color: #f8f9fa;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.footer .contenedor .siguenos .siguenos-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.footer .contenedor .siguenos .siguenos-contenedor a {
  color: #f8f9fa;
  font-size: 3.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .contenedor .siguenos .siguenos-contenedor a:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}
/*# sourceMappingURL=styles.css.map */