/* Generales */
html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10 px*/
  }
  *,
  *:before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3 {
    margin: 0 0 5rem 0;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  h2,
  h3 {
    font-size: 3rem;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }

/* Utilidades */
.contenedor{
    max-width: 100rem;
    margin: 0 auto;
}

/* Barra de navegación */
nav{
    width: 100%;
    // border: 1px solid black;
    background-color: #fff;
}

.contenedor-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.contenedor-navbar .logo{
    font-size: 4rem;
    font-family: 'Fjalla One', sans-serif;
}

.menu a{
    margin-right: 2rem;
}

.menu a:last-of-type{
    margin: 0;
}

.sesion i{
    font-size: 2.5rem;
}

/* Hero */
.hero{
    width: 100%;
}