/* --- Variables --- */
$azulPrincipal: #4361ee;
$azulSecundario: #233fbb;
$blanco: #f8f9fa;
$negro: #212529;

/* --- Globales --- */
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10 px*/
  user-select: none;
}

*,
*:before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* --- Utilidades --- */

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

.titulo {
  text-align: center;
  color: $negro;
  margin-bottom: 5rem;
}

.contenedor,
.contenedor-navbar {
  max-width: 120rem;
  margin: 0 auto;
}

section {
  padding: 10rem 0;
}

.contenedor {
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 1rem;
  background-color: $blanco;
  color: $azulPrincipal;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-0.2rem);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.alinear-derecha {
  text-align: right;
}

.alinear-izquierda {
  text-align: left;
}

/* --- Secciones --- */
@import "header";
@import "que-es";
@import "caracteristicas";
@import "clientes";
@import "footer";
